@font-face {
    font-family: 'Patrick Hand';
    src: url(PatrickHand-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-VariableFont_wdth,wght.ttf);
}

.logo {
    width: 150px;
    height: 150px;
}

h4 {
    font-family: 'Patrick Hand';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 48px !important;
    line-height: 65px !important;
    /* identical to box height */

    color: #FF70A6;

    mix-blend-mode: normal !important;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 90px !important;
    line-height: 78px !important;
    /* or 81% */

    color: #FFD670;

}

.presentazione-iTechnology {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    /* or 62% */

    color: #000000;
}

.center-image {
    margin: auto;
    display: block;
}

h3 {
    font-family: 'Poppins';
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 48px !important;
    line-height: 60px !important;
    /* identical to box height, or 58% */
    letter-spacing: -0.01em !important;

    color: #70D6FF;
}

h2 {
    font-family: 'Poppins';
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 80px !important;
    line-height: 78px !important;
    /* identical to box height, or 98% */

    color: #FF9770;

}

section {
    margin: 10px 0px 50px 0px;
}

.descrizione-servizi {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    /* or 62% */

    color: #000000;
}

.titolo-prodotto {
    color: #70D6FF;;
}

li {
    font-family: 'Open Sans';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 40px !important;
    line-height: 50px !important;
    /* or 75% */

    color: #000000;
}

.titolo-sezioni {
    text-align: center;
}

.testo-recensioni {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    /* or 78% */

    color: #000000;

}