

/* @font-face {
    font-family: 'Patrick Hand';
    src: url(PatrickHand-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(Poppins-Italic.ttf);
}

body{
    margin:0;
    padding:0;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
}

.sectionBr{
    display:flex;
    width: 100%;
    height: 5vh;
}

.textDescription{
    text-align: center;
}

.titleH4{
    font-size: 5vh;
}

.textP{
    font-size: 2vh;
}

.divBr{
    width: 100%;
    height: 100%;
}

.logoSection {
    display: flex;
    width: 100%;
    height: 15vh;
    padding-top: 5vh;
    padding-left: 9vh;
}

.presentazione{
    display: flex;
    height: 85vh;
    width: 100%;
}

.blockDiv{
    display: block;
    width: 70%;
}

.flexContainer {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 9vh;
}

.titleDiv {
    font-family: 'Patrick Hand';
    color: #FF70A6;
    font-size: 5vh;
    text-align: center;
}

.bigTitle {
    font-family: 'Poppins';
    color: #FFD670;
    text-align: center;
    font-size: 3vh;
}

.imageDiv {
    padding-right: 5%;
    padding-left: 5%;
    width: 20%;
    height: 100%;
}

.imageClassTry{
    height: 70%;
    width: 70%;
} */

.logo {
    width: 150px;
    height: 150px;
}